DataClient/WebApplication/Service References/GetterService/Getter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Getter" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8744/WCF/Getter/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8744/WCF/Getter/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8744/WCF/Getter/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGetter_GetUnitList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnitList" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetUnitList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnitListResponse" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetSpeedList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpeedList" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetSpeedList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpeedListResponse" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetUnitListbyRepair_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnitListbyRepair" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetUnitListbyRepair_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnitListbyRepairResponse" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetCountListbyRepair_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountListbyRepair" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetCountListbyRepair_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountListbyRepairResponse" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetHDOPList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHDOPList" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetHDOPList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHDOPListResponse" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetNumSatellitesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumSatellitesList" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetNumSatellitesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumSatellitesListResponse" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetBeginTimeList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBeginTimeList" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetBeginTimeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBeginTimeListResponse" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetMaxList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxList" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetMaxList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxListResponse" />
  </wsdl:message>
  <wsdl:portType name="IGetter">
    <wsdl:operation name="GetUnitList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetter/GetUnitList" message="tns:IGetter_GetUnitList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetter/GetUnitListResponse" message="tns:IGetter_GetUnitList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpeedList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetter/GetSpeedList" message="tns:IGetter_GetSpeedList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetter/GetSpeedListResponse" message="tns:IGetter_GetSpeedList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnitListbyRepair">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetter/GetUnitListbyRepair" message="tns:IGetter_GetUnitListbyRepair_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetter/GetUnitListbyRepairResponse" message="tns:IGetter_GetUnitListbyRepair_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountListbyRepair">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetter/GetCountListbyRepair" message="tns:IGetter_GetCountListbyRepair_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetter/GetCountListbyRepairResponse" message="tns:IGetter_GetCountListbyRepair_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHDOPList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetter/GetHDOPList" message="tns:IGetter_GetHDOPList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetter/GetHDOPListResponse" message="tns:IGetter_GetHDOPList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNumSatellitesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetter/GetNumSatellitesList" message="tns:IGetter_GetNumSatellitesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetter/GetNumSatellitesListResponse" message="tns:IGetter_GetNumSatellitesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBeginTimeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetter/GetBeginTimeList" message="tns:IGetter_GetBeginTimeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetter/GetBeginTimeListResponse" message="tns:IGetter_GetBeginTimeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaxList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetter/GetMaxList" message="tns:IGetter_GetMaxList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetter/GetMaxListResponse" message="tns:IGetter_GetMaxList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGetter" type="tns:IGetter">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUnitList">
      <soap:operation soapAction="http://tempuri.org/IGetter/GetUnitList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeedList">
      <soap:operation soapAction="http://tempuri.org/IGetter/GetSpeedList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnitListbyRepair">
      <soap:operation soapAction="http://tempuri.org/IGetter/GetUnitListbyRepair" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountListbyRepair">
      <soap:operation soapAction="http://tempuri.org/IGetter/GetCountListbyRepair" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHDOPList">
      <soap:operation soapAction="http://tempuri.org/IGetter/GetHDOPList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumSatellitesList">
      <soap:operation soapAction="http://tempuri.org/IGetter/GetNumSatellitesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBeginTimeList">
      <soap:operation soapAction="http://tempuri.org/IGetter/GetBeginTimeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxList">
      <soap:operation soapAction="http://tempuri.org/IGetter/GetMaxList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Getter">
    <wsdl:port name="BasicHttpBinding_IGetter" binding="tns:BasicHttpBinding_IGetter">
      <soap:address location="http://localhost:8744/WCF/Getter/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>