DataClient/WebApplication/Service References/GetterService/Getter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Getter" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8744/WCF/Getter/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8744/WCF/Getter/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8744/WCF/Getter/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGetter_GetTestList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTestList" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetTestList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTestListResponse" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetQueryList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQueryList" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetQueryList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQueryListResponse" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetUnitListForTopSpeed_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnitListForTopSpeed" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetUnitListForTopSpeed_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnitListForTopSpeedResponse" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetSpeedListForTopSpeed_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpeedListForTopSpeed" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetSpeedListForTopSpeed_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpeedListForTopSpeedResponse" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetUnitListbyRepair_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnitListbyRepair" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetUnitListbyRepair_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnitListbyRepairResponse" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetCountListbyRepair_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountListbyRepair" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetCountListbyRepair_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountListbyRepairResponse" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetHDOPListForQuality_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHDOPListForQuality" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetHDOPListForQuality_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHDOPListForQualityResponse" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetNumSatellitesListForQuality_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumSatellitesListForQuality" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetNumSatellitesListForQuality_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumSatellitesListForQualityResponse" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetBeginTimeListForGPSTemp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBeginTimeListForGPSTemp" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetBeginTimeListForGPSTemp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBeginTimeListForGPSTempResponse" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetMaxListForGPSTemp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxListForGPSTemp" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetMaxListForGPSTemp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxListForGPSTempResponse" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetBeginTimeListForCPUTemp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBeginTimeListForCPUTemp" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetBeginTimeListForCPUTemp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBeginTimeListForCPUTempResponse" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetMaxListForCPUTemp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxListForCPUTemp" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetMaxListForCPUTemp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxListForCPUTempResponse" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetLatLon_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatLon" />
  </wsdl:message>
  <wsdl:message name="IGetter_GetLatLon_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatLonResponse" />
  </wsdl:message>
  <wsdl:portType name="IGetter">
    <wsdl:operation name="GetTestList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetter/GetTestList" message="tns:IGetter_GetTestList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetter/GetTestListResponse" message="tns:IGetter_GetTestList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQueryList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetter/GetQueryList" message="tns:IGetter_GetQueryList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetter/GetQueryListResponse" message="tns:IGetter_GetQueryList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnitListForTopSpeed">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetter/GetUnitListForTopSpeed" message="tns:IGetter_GetUnitListForTopSpeed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetter/GetUnitListForTopSpeedResponse" message="tns:IGetter_GetUnitListForTopSpeed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpeedListForTopSpeed">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetter/GetSpeedListForTopSpeed" message="tns:IGetter_GetSpeedListForTopSpeed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetter/GetSpeedListForTopSpeedResponse" message="tns:IGetter_GetSpeedListForTopSpeed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnitListbyRepair">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetter/GetUnitListbyRepair" message="tns:IGetter_GetUnitListbyRepair_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetter/GetUnitListbyRepairResponse" message="tns:IGetter_GetUnitListbyRepair_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountListbyRepair">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetter/GetCountListbyRepair" message="tns:IGetter_GetCountListbyRepair_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetter/GetCountListbyRepairResponse" message="tns:IGetter_GetCountListbyRepair_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHDOPListForQuality">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetter/GetHDOPListForQuality" message="tns:IGetter_GetHDOPListForQuality_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetter/GetHDOPListForQualityResponse" message="tns:IGetter_GetHDOPListForQuality_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNumSatellitesListForQuality">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetter/GetNumSatellitesListForQuality" message="tns:IGetter_GetNumSatellitesListForQuality_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetter/GetNumSatellitesListForQualityResponse" message="tns:IGetter_GetNumSatellitesListForQuality_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBeginTimeListForGPSTemp">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetter/GetBeginTimeListForGPSTemp" message="tns:IGetter_GetBeginTimeListForGPSTemp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetter/GetBeginTimeListForGPSTempResponse" message="tns:IGetter_GetBeginTimeListForGPSTemp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaxListForGPSTemp">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetter/GetMaxListForGPSTemp" message="tns:IGetter_GetMaxListForGPSTemp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetter/GetMaxListForGPSTempResponse" message="tns:IGetter_GetMaxListForGPSTemp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBeginTimeListForCPUTemp">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetter/GetBeginTimeListForCPUTemp" message="tns:IGetter_GetBeginTimeListForCPUTemp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetter/GetBeginTimeListForCPUTempResponse" message="tns:IGetter_GetBeginTimeListForCPUTemp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaxListForCPUTemp">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetter/GetMaxListForCPUTemp" message="tns:IGetter_GetMaxListForCPUTemp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetter/GetMaxListForCPUTempResponse" message="tns:IGetter_GetMaxListForCPUTemp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatLon">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetter/GetLatLon" message="tns:IGetter_GetLatLon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetter/GetLatLonResponse" message="tns:IGetter_GetLatLon_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGetter" type="tns:IGetter">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTestList">
      <soap:operation soapAction="http://tempuri.org/IGetter/GetTestList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQueryList">
      <soap:operation soapAction="http://tempuri.org/IGetter/GetQueryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnitListForTopSpeed">
      <soap:operation soapAction="http://tempuri.org/IGetter/GetUnitListForTopSpeed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeedListForTopSpeed">
      <soap:operation soapAction="http://tempuri.org/IGetter/GetSpeedListForTopSpeed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnitListbyRepair">
      <soap:operation soapAction="http://tempuri.org/IGetter/GetUnitListbyRepair" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountListbyRepair">
      <soap:operation soapAction="http://tempuri.org/IGetter/GetCountListbyRepair" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHDOPListForQuality">
      <soap:operation soapAction="http://tempuri.org/IGetter/GetHDOPListForQuality" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumSatellitesListForQuality">
      <soap:operation soapAction="http://tempuri.org/IGetter/GetNumSatellitesListForQuality" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBeginTimeListForGPSTemp">
      <soap:operation soapAction="http://tempuri.org/IGetter/GetBeginTimeListForGPSTemp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxListForGPSTemp">
      <soap:operation soapAction="http://tempuri.org/IGetter/GetMaxListForGPSTemp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBeginTimeListForCPUTemp">
      <soap:operation soapAction="http://tempuri.org/IGetter/GetBeginTimeListForCPUTemp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxListForCPUTemp">
      <soap:operation soapAction="http://tempuri.org/IGetter/GetMaxListForCPUTemp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatLon">
      <soap:operation soapAction="http://tempuri.org/IGetter/GetLatLon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Getter">
    <wsdl:port name="BasicHttpBinding_IGetter" binding="tns:BasicHttpBinding_IGetter">
      <soap:address location="http://localhost:8744/WCF/Getter/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>