DataClient/DataClient/Service References/myServiceReference/getPerson.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://person.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="getPerson" targetNamespace="http://person.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/myWebService/getPerson?xsd=1" namespace="http://person.com/" />
    </xsd:schema>
  </types>
  <message name="GetHours">
    <part name="parameters" element="tns:GetHours" />
  </message>
  <message name="GetHoursResponse">
    <part name="parameters" element="tns:GetHoursResponse" />
  </message>
  <message name="GetID">
    <part name="parameters" element="tns:GetID" />
  </message>
  <message name="GetIDResponse">
    <part name="parameters" element="tns:GetIDResponse" />
  </message>
  <message name="GetPerson">
    <part name="parameters" element="tns:GetPerson" />
  </message>
  <message name="GetPersonResponse">
    <part name="parameters" element="tns:GetPersonResponse" />
  </message>
  <message name="GetFirstName">
    <part name="parameters" element="tns:GetFirstName" />
  </message>
  <message name="GetFirstNameResponse">
    <part name="parameters" element="tns:GetFirstNameResponse" />
  </message>
  <portType name="getPerson">
    <operation name="GetHours">
      <input wsam:Action="http://person.com/getPerson/GetHoursRequest" message="tns:GetHours" />
      <output wsam:Action="http://person.com/getPerson/GetHoursResponse" message="tns:GetHoursResponse" />
    </operation>
    <operation name="GetID">
      <input wsam:Action="http://person.com/getPerson/GetIDRequest" message="tns:GetID" />
      <output wsam:Action="http://person.com/getPerson/GetIDResponse" message="tns:GetIDResponse" />
    </operation>
    <operation name="GetPerson">
      <input wsam:Action="http://person.com/getPerson/GetPersonRequest" message="tns:GetPerson" />
      <output wsam:Action="http://person.com/getPerson/GetPersonResponse" message="tns:GetPersonResponse" />
    </operation>
    <operation name="GetFirstName">
      <input wsam:Action="http://person.com/getPerson/GetFirstNameRequest" message="tns:GetFirstName" />
      <output wsam:Action="http://person.com/getPerson/GetFirstNameResponse" message="tns:GetFirstNameResponse" />
    </operation>
  </portType>
  <binding name="getPersonPortBinding" type="tns:getPerson">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetHours">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetPerson">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetFirstName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="getPerson">
    <port name="getPersonPort" binding="tns:getPersonPortBinding">
      <soap:address location="http://localhost:8080/myWebService/getPerson" />
    </port>
  </service>
</definitions>