DataClient/DataClient/Service References/myServiceReference/getPerson.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://person.com/" targetNamespace="http://person.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetFirstName" type="tns:GetFirstName" />
  <xs:element name="GetFirstNameResponse" type="tns:GetFirstNameResponse" />
  <xs:element name="GetHours" type="tns:GetHours" />
  <xs:element name="GetHoursResponse" type="tns:GetHoursResponse" />
  <xs:element name="GetID" type="tns:GetID" />
  <xs:element name="GetIDResponse" type="tns:GetIDResponse" />
  <xs:element name="GetPerson" type="tns:GetPerson" />
  <xs:element name="GetPersonResponse" type="tns:GetPersonResponse" />
  <xs:complexType name="GetHours">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="GetHoursResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetID">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="GetIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetFirstName">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="GetFirstNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetPerson">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="GetPersonResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>