DataClient/WebApplication/Service References/positionGetter/getterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetPositionsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="max" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="order" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPositionsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPositionsListResult" type="tns:ArrayOfPositions" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPositions">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Positions" nillable="true" type="tns:Positions" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Positions">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UnitId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="RdX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RdY" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Speed" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Course" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NumSatellites" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Quality" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Hdop" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPositionsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetPositionsList" />
  </wsdl:message>
  <wsdl:message name="GetPositionsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetPositionsListResponse" />
  </wsdl:message>
  <wsdl:portType name="getterServiceSoap">
    <wsdl:operation name="GetPositionsList">
      <wsdl:input message="tns:GetPositionsListSoapIn" />
      <wsdl:output message="tns:GetPositionsListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="getterServiceSoap" type="tns:getterServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPositionsList">
      <soap:operation soapAction="http://tempuri.org/GetPositionsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="getterServiceSoap12" type="tns:getterServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPositionsList">
      <soap12:operation soapAction="http://tempuri.org/GetPositionsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="getterService">
    <wsdl:port name="getterServiceSoap" binding="tns:getterServiceSoap">
      <soap:address location="http://localhost:39734/getterService.asmx" />
    </wsdl:port>
    <wsdl:port name="getterServiceSoap12" binding="tns:getterServiceSoap12">
      <soap12:address location="http://localhost:39734/getterService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>